mixin button(theme, value)
    button(class='button_' + theme)= value 

mixin link(el, i)
    li= el 
        if (i)
            a(href="#")
            img(src="../assets/images/arrow-down.png", class="arrow-down") 
        else 
            a(href="#")

mixin melody(color, src, name, textColor)

    .genres__melody(style=`background: rgba${color};`)
        .genres__wrapper
            if (textColor)
                img.genres__img(src=`../assets/images/${src}.png`, alt="Melody")
                p.genres__name.genres__name-color= name
                p.genres-view.genres__view-color Duis aute irure dolor in reprehenderit in voluptate velit esse
            else
                img.genres__img(src=`../assets/images/${src}.png`, alt="Melody")
                p.genres__name= name
                p.genres__view Duis aute irure dolor in reprehenderit in voluptate velit esse

mixin confetti(src)
    img(src=`../assets/images/${src}.png`, alt="Confetti")

                 