mixin button(theme, value, src)
    button(class='button_' + theme)= value 
        if (src)
            img(src=`../assets/images/${src}.png`)

mixin logotype  
    a(href="#")
      img(src="../assets/images/logo.svg", alt="Logo")

mixin infoblock(className, name, value)
    h2(class=className + '__caption')= name
    p(class=className + '__item')= value

mixin link(el, i)
    li 
        if (i)
            a(href="#")= el 
            img(src="../assets/images/arrow-down.png", class="arrow-down") 
        else 
            a(href="#")= el

mixin melody(color, src, name, textColor)

    .genres-elements__melody(style=`background: rgba${color};`)
        .genres-elements__wrapper
            if (textColor)
                img.genres-elements__img(src=`../assets/images/${src}.png`, alt="Melody")
                p.genres-elements__name.genres-elements__name-color= name
                p.genres-elements__view.genres-elements__view-color Duis aute irure dolor in reprehenderit in voluptate velit esse
            else
                img.genres-elements__img(src=`../assets/images/${src}.png`, alt="Melody")
                p.genres-elements__name= name
                p.genres-elements__view Duis aute irure dolor in reprehenderit in voluptate velit esse

mixin confetti(src, cl)
    img(src=`../assets/images/${src}.png`, alt="Confetti", class=cl)

mixin tariff(rate, cost, seat, colorType)
    h3.price-card__caption(class=`price-card__caption-${colorType}`)= rate  
    p.price-card__cost(class=`price-card__cost-${colorType}`)= '$' + cost 
    p= seat + ' Available' 
    p= 'Access to Wi-Fi Router' 
    p.price-card__info-eats= 'Free Food & Coffee'

mixin brand(sponsorName)
    img.sponsors-brands__logo(src=`../assets/images/${sponsorName}.png`, alt="Sponsor")

mixin media(src)
    a(href="#")
      img.footer-info__socials-media(src=`../assets/images/${src}.svg`, alt="Media")

mixin instashot(src)
    .gallery-cards__block
        img.gallery-cards__card(src=`../assets/images/${src}.png`, alt="Card")
        .gallery-cards__info   
            .gallery-cards__mark
                .gallery-cards__likes 
                    img.gallery-cards__likes-i1(src="../assets/images/heart.svg", alt="Like")
                    h5.gallery-cards__num #[b 140]
                .gallery-cards__comments
                    img.gallery-cards__likes-i2(src="../assets/images/chat.svg", alt="Chat")
                    h5.gallery-cards__num #[b 412]
        span.gallery-cards__part Lorem Ipsum Amet
        span.gallery-cards__hash #music #concert #conference #london #event #artist #dj #soundtrack #dance

mixin sign(src, text)
    .contacts-signs
        img.contacts-signs__img(src=`../assets/images/${src}.png`, alt="Logo")
        p.contacts-signs__text= text

mixin data(title, text, src)
    .contacts-about
        h4.contacts-about__title= title 
        p.contacts-about__text= text  
        img.contacts-about__img(src=`../assets/images/${src}.png`, alt="Line")




                 